body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
.character{
  margin: 0;
  padding: 1rem;
  border: 3px solid #2c3e50;;
  width:27%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #2c3e50, #e74c3c);
  font-size: small;
  color: white;
  cursor: pointer;
  transition: 
    scale 0.25s ease-in,
    opacity 0.25s ease-in,
    filter 0.25s ease-in;
  &:hover{
    scale: 1.2s;
  }
}
.main_block:has(.character:hover) .character:not(:hover){
  scale: 0.8s;
  opacity: 0.8s;
  filter: blur(8px);
}
.programmers{
  display: flex;
  justify-content: center;
  border: solid 2px #2c3e50;
  border-radius: 15px;
  margin: 0 300px 30px 300px;
}
.main_block{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}